@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.btn {
  @apply font-bold py-2 px-4 rounded;
}
.btn-sm {
  @apply font-bold py-1 px-2 rounded;
}

.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-blue:hover {
  @apply bg-blue-700;
}

.btn-light-gray {
  @apply bg-gray-300 text-black;
}
.btn-light-gray:hover {
  @apply bg-gray-500 text-white;
}

.btn-gray {
  @apply bg-gray-500 text-white;
}
.btn-gray:hover {
  @apply bg-gray-700 text-white;
}

.default-border {
  @apply border-gray-700 border-2 rounded;
}

.character-detail-section {
  @apply flex flex-col items-center default-border p-2;
}
